<div class="container mt-5">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="post mb-4 p-3 bg-white rounded shadow-sm">
        <p class="date text-muted mb-3">
          <%= post.created_at.strftime("%d %b %Y") %>
        </p>
        <p class="text-dark mb-2">
          <%= simple_format(post.body) %>
        </p>
        <% if post.images.attached? %>
          <div class="post-images">
            <% post.images.each do |image| %>
              <%= image_tag image, class: 'img-fluid mb-3' %>
            <% end %>
          </div>
        <% end %>
        <% if post.audio_url.present? %>
          <audio controls class="w-100 mb-3">
            <source src="<%= post.audio_url %>" type="audio/mpeg">
            Seu navegador não suporta o elemento de áudio.
          </audio>
        <% end %>
      </div>
    <% end %>
    <!-- Botão de mais postagens -->
    <div class="text-center mt-4">
      <% if @posts.next_page %>
        <%= link_to 'Mais Postagens', posts_path(page: @posts.next_page), class: 'btn btn-dark' %>
      <% end %>
    </div>
  <% end %>
</div>
