<!DOCTYPE html>
<html>
  <head>
    <title>Terrasemflores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body style="background-color: #fff; margin: 0; padding: 0;">
    <div class="container-fluid">
      <div class="row">
        <div id="sidebar" class="sidebar" style="
          position: fixed; /* Fixa o sidebar */
          height: 100vh; /* Altura total da viewport */
          width: 250px; /* Largura do sidebar */
          background-color: #fff;
          border: none;
          box-shadow: none;
          top: 0; /* Fixa no topo */
          left: 0; /* Fixa à esquerda */
          overflow-y: auto; /* Adiciona rolagem interna se necessário */
        ">
          <div class="sidebar-header" style="padding: 15px; margin-left: -150px;">
            <div style="font-family: Lora, serif; font-size: 12px; color: #333; text-transform: lowercase; letter-spacing: 0.5px; text-align: center;">
              <p style="margin: 0; line-height: 1.2; font-weight: normal;">
                terra<br>
                sem<br>
                flores/
              </p>
            </div>
          </div>
          <ul class="nav flex-column" style="padding-left: 20px; margin-bottom: 0;">
            <li class="nav-item" style="margin-bottom: 0px;">
              <a class="nav-link" href="<%= root_path %>" style="color: #333; text-decoration: none; font-size: 13px; padding: 0; line-height: 2;">home</a>
            </li>
            <li class="nav-item" style="margin-bottom: 0px;">
              <a class="nav-link" href="<%= about_path %>" style="color: #333; text-decoration: none; font-size: 13px; padding: 0; line-height: 2;">sobre</a>
            </li>
            <li class="nav-item" style="margin-bottom: 0px;">
              <a class="nav-link" href="<%= archive_path %>" style="color: #333; text-decoration: none; font-size: 13px; padding: 0; line-height: 2;">arquivos</a>
            </li>
            <li class="nav-item" style="margin-bottom: 0px;">
              <a class="nav-link" href="<%= questions_path %>" style="color: #333; text-decoration: none; font-size: 13px; padding: 0; line-height: 2;">contato</a>
            </li>
          </ul>
        </div>
        <main class="col-lg-5" style="margin-left: 250px; padding: 20px;">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
